{{ define "container-class" }}article-page keep-sidebar{{ end }}
{{ define "main" }}
    {{ $homepage := .Site.GetPage "about" }}
    
    <div class="main-article-outside-image keep-sidebar">
        <header class="article-header">
            {{ partial "article/components/header-image" $homepage }}
        </header>
    </div>

    <article class="main-article">
    
    {{ partial "article/components/content.html" $homepage }}
    
    </article>
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}